<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Http接口测试工具</title>
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Http接口测试工具</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">单个测试</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="muit/">批量测试</a>
                </li>

            </ul>

        </div>
    </nav>

    <!--
    <script>
    $(document).ready(function(){
        $("#btn-submit").click(function(){
        $("#response-tab-content-body").css("height","0px");
        });
    });

    $('#inputGroupSelect').change(function(){
            alert($("#inputGroupSelect").get(0).selectedIndex);
            if($("#inputGroupSelect").get(0).selectedIndex = 2){
                $('#put-file').show();
            }
        });
    </script>
    -->

    <script>
        $(document).ready(function(){
            if ($('#body-content').innerHeight()==0){
                $('#response-tab-content-body').css("height","110px");
            }
        });
    </script>

    <script>
                $(function () {
                var checkText = "";
                $("#inputGroupSelect").change(function () {
                    //获取文件的value值
                    checkText = $("#inputGroupSelect").find ("option:selected").text ();
                    alert(prehegiht);
                    if(checkText=="PUT" || checkText=="POST"){
                        $('#put-file').show();
                    }
                    else
                        $('#put-file').hide();

                })
            });
    </script>


    <div class="container">
        <form action="/form-input/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <br><br>
        <h1>Http接口测试工具</h1>
        <class class="input-group input-group-lg">
            <select class="custom-select col-1" id="inputGroupSelect" name="func">

                <option value="GET" selected>GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
            </select>

            <input type="text" class="form-control" name="url">
            <button class="btn btn-outline-primary" type="submit" id="btn-submit">提交</button>
        </class>
        <br>
        <br>
        <br>

        <h2>Request</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="request-tab-body" data-toggle="tab"
                    href="#request-tab-content-body " name="req_body">Body</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="request-tab-cookie" data-toggle="tab"
                    href="#request-tab-content-cookie" name="req_cookies">Cookie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="request-tab-header" data-toggle="tab"
                    href="#request-tab-content-header" name="headers">Header</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="item-input tab-pane content-tab active" id="request-tab-content-body"  role="tabpanel"
                aria-labelledby="request-tab-body">
                <textarea class="form-control request-content" id="request-content-body" name="request-content-body" rows="3"
                    placeholder="key1: value1 &#13;&#10;key2: value2"></textarea>
                <div class="col-xs">
                <select class="custom-select col-1" name="data_format">
                    <option value="raw" selected>RAW</option>
                    <option value="key">KEY</option>
                </select>

                    <input type="file" id="put-file" name="file" style="display:none">

                </div>
            </div>

            <div class="item-input tab-pane content-tabe" id="request-tab-content-cookie" role="tabpanel"
                aria-labelledby="request-tab-cookie">
                <textarea class="form-control request-content" id="request-content-cookie" name="request-content-cookie" rows="4"
                    placeholder="{&#13;&#10;&quot;name&quot;: &quot;cookie1&quot;,&#13;&#10;&quot;value&quot;: &quot;val1&quot;&#13;&#10;};&#13;&#10;{&#13;&#10;&quot;name&quot;: &quot;cookie2&quot;,&#13;&#10;&quot;value&quot;: &quot;val2&quot;&#13;&#10;}"></textarea>
            </div>
            <div class="item-input tab-pane content-tab" id="request-tab-content-header" role="tabpanel"
                aria-labelledby="request-tab-header">
                <textarea class="form-control request-content" id="request-content-header" name="request-content-header" rows="4"
                    placeholder="User-Agent: Mozilla/5.0"></textarea>
            </div>
        </div>
</form>
        <br><br><br>
        <h2>Response</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="response-tab-body" data-toggle="tab"
                    href="#response-tab-content-body">Body</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="response-tab-header" data-toggle="tab"
                    href="#response-tab-content-header">Header</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="response-tab-Cookie" data-toggle="tab"
                    href="#response-tab-content-cookie">Cookie</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane content-tab active" id="response-tab-content-body" role="tabpanel"
                aria-labelledby="response-tab-body" style="border:1px solid #cfd4d9;">
                <pre id="body-content">{{ body }}</pre>
            </div>

            <div class="tab-pane content-tabe" id="response-tab-content-header" role="tabpanel"
                aria-labelledby="response-tab-header">
                <textarea class="form-control response-content" id="response-content-header" rows="4"
                    placeholder="header">{{ resp_headers }}</textarea>
            </div>
            <div class="tab-pane content-tab" id="response-tab-content-cookie" role="tabpanel"
                aria-labelledby="response-tab-cookie">
                <textarea class="form-control response-content" id="response-content-cookie" rows="4"
                    placeholder="Cookie">{{ resp_cookies }}</textarea>
            </div>
        </div>

    </div>

</body>

</html>